<a href="https://colab.research.google.com/github/m4vic/ML-models/blob/main/Models-from-scratch/cross_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
heart_data = pd.read_csv('heart.csv')

In [ ]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
heart_data.shape

(303, 14)

In [ ]:
heart_data.isnull().sum() # cheacking the csv if it has any missing database

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
heart_data['target'].value_counts() # counting the 0 and 1 values

target
1    165
0    138
Name: count, dtype: int64

1 --> Defective heart
2--> Healthy haret

In [ ]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

#*TRAIN TEST SPLIT**

In [ ]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

# stratify Y means it will equalize or same proportion data will be saved in X train and Y train

comparing the performance of the model

In [ ]:
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'),KNeighborsClassifier(), RandomForestClassifier()]

In [ ]:
def compare_models_train_test():
  for model in models:

    # training the model
    model.fit(X_train, Y_train)

    # evaluating the model
    test_data_prediction = model.predict(X_test)

    accuracy = accuracy_score(Y_test, test_data_prediction)

    print('Accuracy score of the ', model, ' = ',accuracy)

In [ ]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  0.8032786885245902
Accuracy score of the  SVC(kernel='linear')  =  0.819672131147541
Accuracy score of the  KNeighborsClassifier()  =  0.6229508196721312
Accuracy score of the  RandomForestClassifier()  =  0.7704918032786885

#**cross** **validation**

  LOGISTIC REGRESSION

In [ ]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, Y, cv=5)

# it will change the train data 5 times cv = 5  and iteration is 1000times

In [ ]:
def cv_mean(cv_score):
  cv_score = sum(cv_score)/len(cv_score)
  mean_accuracy = cv_score*100
  mean_accuracy = round(mean_accuracy, 2)


  print('the accuracy of logistic regression model is : ',cv_score, 'mean accuracy',mean_accuracy)

cv_mean(cv_score_lr)

the accuracy of logistic regression model is :  0.8282513661202187 mean accuracy 82.83

SUPPORT VECTOR MACHINE

In [ ]:
cv_score_svm = cross_val_score(SVC(kernel='linear'),X,Y, cv = 5)

cv_mean(cv_score_svm)

the accuracy of logistic regression model is :  0.8283060109289618 mean accuracy 82.83

CREATING A FUNCTION TO COMPARE THE MODELS

In [ ]:
def compare_models_cross_validation():
  for model in models:
    cv_score = cross_val_score(model, X, Y, cv=5)
    cv_mean(cv_score)
    print(cv_mean)
    print('-----------------------------')

In [ ]:
compare_models_cross_validation()

the accuracy of logistic regression model is :  0.8282513661202187 mean accuracy 82.83
<function cv_mean at 0x7824d10da520>
-----------------------------
the accuracy of logistic regression model is :  0.8283060109289618 mean accuracy 82.83
<function cv_mean at 0x7824d10da520>
-----------------------------
the accuracy of logistic regression model is :  0.643879781420765 mean accuracy 64.39
<function cv_mean at 0x7824d10da520>
-----------------------------
the accuracy of logistic regression model is :  0.8183606557377049 mean accuracy 81.84
<function cv_mean at 0x7824d10da520>
-----------------------------